@tailwind base;
@tailwind components;
@tailwind utilities;


## === tailwind.config.cjs ===

module.exports = {
  content: ['./src/**/*.{html,js,svelte,ts}'],
  theme: {
    extend: {},
  },
  plugins: [
    require('@tailwindcss/forms'),
    require('@tailwindcss/typography')
  ],
};